footer {
    margin-top: auto;
}

.main-footer {
    min-height: 60px;
    padding-bottom: $m-space;
    background-color: $secondary-bg;

    &__header_indent-b_s {
        margin-bottom: $s-space;
    }
}