@import 'variables';

.btn {
    display: inline-block;
    min-height: 40px;
    width: auto;
    padding: 3px 15px;
    font-size: $s-fontSize;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    color: $primary-color;
    background: $gradient-color;
    border-radius: 20px;
    border: 0;
    transition:  all .08s linear;

    &:hover {
        transform: scale(1.05);
        box-shadow: $primary-shadow;
    }
}