@import 'variables';

.btn {
    display: inline-block;
    min-height: 30px;
    width: auto;
    padding: 3px 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    color: #222;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: $radius;
    transition:  all .08s linear;

    &:hover {
        transform: scale(1.05);
        box-shadow: 5px 2px 5px 0px rgba(0,0,0,0.2);    }

    &_primary {
        color: $primary-color;
        background-color: $primary-bg;
    }
    &_accent {
        color: $secondary-color;
        background-color: $accent-bg;
    }
    &_alert {
        color: $primary-color;
        background-color: $alert-bg;
    }
    &_large {
        height: 50px;
    }
}