@import 'variables';

.main-footer {
    color: $primary-color;
    background-color: $primary-bg;
    padding: $s-space $l-space;
    z-index: -10;

    &_sticky {
        position: sticky;
        bottom: 0;
    }

    &__container {
        margin-bottom: $l-space;
    }

    &__header_indent-b_s {
        margin-bottom: $s-space;
    }
}