@import 'variables';

footer {
    margin-top: auto;
}

.main-footer {
    height: 60px;
    color: $primary-color;
    background-color: #3C444C;

    &__container {
        width: calc(100vw - 50px);
        max-width: $max-width;
        margin: 0 auto;
    }

    &__header_indent-b_s {
        margin-bottom: $s-space;
    }
}