@import 'variables';

%grid-container {
   display: grid;
   grid-gap: $m-space;
   grid-template-columns: repeat(3, minmax(150px, 1fr));
   grid-auto-rows: auto;
}

.grid-container {
   @extend %grid-container;

   @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(2, minmax(150px, 1fr));
   }

   @media screen and (max-width: 700px) {
      grid-template-columns: repeat(1, minmax(150px, 1fr));
   }
   
   &_masonry {
      @extend %grid-container;
   }
}

.open-tile {
   grid-column: 1/-1;
}



