%grid-container {
   display: grid;
   grid-gap: 10px;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   grid-auto-rows: auto;
}

.grid {
   &-main {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 20px;  
   }


   &__item {
      &_width_full {
         grid-column: span 6;
      }
      &_width_half {
         grid-column: span 3;
      }
      &_width_s {
         grid-column: span 2;
      }

      &_height_s {
         grid-row: span 1;
      }
      &_height_m {
         grid-row: span 2;
      }
   
      &-inner {
         grid-column: span 3;
      }
   }
}


@media screen and (max-width: 1024px) {

}
 
.grid-container {
   @extend %grid-container;
}

.grid-container_masonry {
   @extend %grid-container;
   grid-auto-rows: 200px;

   .photo {
      grid-row-end: span 2;
   }
   .event {
      grid-row-end: span 3;
   }
   .post {
      grid-row-end: span 1;
   }
}

