@import 'variables';

.main-header {
    height: 60px;
    background-color: $secondary-bg;

    nav {
        height: 100%;
        width: calc(100vw - 50px);
        max-width: $max-width;
        margin: 0 auto;
    }
}

.nav-block {
    display: flex;

    li {
        display: inline-block;
        position: relative;
        padding-top: 23px;
        margin-right: 20px;
    }

    ul {

    }

    a {
        outline: none;
    }
}

.header_sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
}
