@import 'variables';

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fontFamily;
    font-size: $m-fontSize;
    color: $primary-color;
    background-color: #30363D;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: .5px;
    position: relative;
    z-index: 0;
}

h1 {
    font-size: $xl-fontSize;
}

h2 {
    font-size: $l-fontSize;
}

h1, h2 {
    margin-bottom: 15px;
}

a {
    display: inline-block;
    color: $primary-color;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

.link-highlight {
    &::before {
        content: "";
        display: block;
        position: absolute;
        background: $gradient-color;
        width: 100%;
        height: 2px;
        bottom: -5px;
        left: 0;
        transform: scaleX(1);
        transform-origin: left center;
        transition: transform 0.3s cubic-bezier(0.694, 0, 0.335, 1);
        pointer-events: none;
    }

    &:hover::before {
        transform: scaleX(0);
        transform-origin: right center; 
    }
}

.main-text {
    font-size: $l-fontSize;
    margin-bottom: $l-space;
}

.gradient-color {
    background: $gradient-color;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section {
    &_space_m {
        padding: $m-space;
    }
    &_space-v_xxl {
        padding: 4 * $l-space 0;
    }
    &_cut-right {
        clip-path: $cut-down_right;
    }
    &_cut-left {
        clip-path: $cut-down_left;
    }
}

.content-wrap {
    width: calc(100vw - 50px);
    max-width: 1200px;
    margin: 0 auto;
}
.main-bg {
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: $main-bg-image;
}

.main-content {
    padding: $l-space 0;
    position: relative;
    z-index: 999;

    &_space-g_l {
        padding: 0 $l-space;
    }

    &__header {
        line-height: 1.2;
        color: $primary-color;
    
        &_indent-b_s {
            margin-bottom: $s-space;
        }
    }
}

@media screen and (max-width: 1024px) {
    .main-content {
        padding: 0;
    }
}

.text-center {
    text-align: center;
}

.text-overflow_fade {
    &::after {
        content: "";
        width: 70%;
        height: 22px;
        position: absolute;
        bottom: 7px;
        right: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), 
                  rgba(255, 255, 255, 1) 50%);
    }
}

.bg {
    &-primary {
        background-color: $primary-bg;
        .text-overflow_fade::after {
            background: linear-gradient(to right, rgba(255, 255, 255, 0), 
            $primary-bg 50%);  
        }
    }
    &-accent {
        background-color: $second-bg;
        .text-overflow_fade::after {
            background: linear-gradient(to right, rgba(255, 255, 255, 0), 
            $second-bg 50%);  
        }
    }
    &-alert {
        background-color: $alert-bg;
        .text-overflow_fade::after {
            background: linear-gradient(to right, rgba(255, 255, 255, 0), 
            $alert-bg 50%);  
        }
    }
}

.hoverable{
    transition: all .3s linear;

    &:hover {
        box-shadow: 3px 9px 9px 0px rgba(0, 0, 0, 0.3);
    }
}

img {
    width: 100%;
}