@import 'variables';

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fontFamily;
    font-size: $m-fontSize;
    color: $primary-color;
    background-color: $primary-bg;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: .5px;
    position: relative;
    z-index: 0;
}

h1 {
    font-size: $xl-fontSize;
}

h2 {
    font-size: $l-fontSize;
}

h1, h2 {
    margin-bottom: 15px;
}

a {
    display: inline-block;
    color: $primary-color;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

.link-highlight {
    &::before {
        content: "";
        display: block;
        position: absolute;
        background: $gradient-color;
        width: 100%;
        height: 2px;
        bottom: -5px;
        left: 0;
        transform: scaleX(1);
        transform-origin: left center;
        transition: transform 0.3s cubic-bezier(0.694, 0, 0.335, 1);
        pointer-events: none;
    }

    &:hover::before {
        transform: scaleX(0);
        transform-origin: right center; 
    }
}

.main-text {
    font-size: $l-fontSize;
    margin-bottom: $l-space;
}

.gradient-color {
    background: $gradient-color;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section {
    &_space-v_l {
        padding: $l-space;
    }
    &_space-top_xxl {
        padding-top: 4 * $l-space;
    }
    &_min-height {
        min-height: calc(100vh - 200px);
    }
    @media screen and (max-width: 1024px) {
        &_min-height {
            height: 100%;
        }
    }
}

.content-wrap {
    width: calc(100vw - 50px);
    max-width: 1200px;
    margin: 0 auto;
}
.main-bg {
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: $main-bg-image;
}

.main-content {
    margin: $l-space 0;
    position: relative;
    z-index: 999;

    @media screen and (max-width: 1024px) {
        & {
            margin: 0;
        }
    }
}

.text-center {
    text-align: center;
}

.hoverable{
    transition: all .3s linear;

    &:hover {
        box-shadow: 3px 9px 9px 0px rgba(0, 0, 0, 0.3);
    }
}

img {
    width: 100%;
}

.skill-tile {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 8px;
    transition: all .3s ease;

    &:hover {
        transform: scale(1.05);
    }

    .icon {
        margin-right: $s-space;
    }
}

.icon {
    width: 25px;
    height: 25px;
    background-size: 25px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEzLjMyNTIgMy4wNTAxMUw4LjY2NzY1IDIwLjQzMjNMMTAuNTk5NSAyMC45NDk5TDE1LjI1NyAzLjU2Nzc1TDEzLjMyNTIgMy4wNTAxMVoiIGZpbGw9ImJsYWNrIi8+CjxwYXRoIGQ9Ik03LjYxMjIyIDE4LjM2MDhMOC45NzE2MSAxNi45MTI0TDguOTcxMSAxNi44OTMzTDMuODc2ODEgMTIuMTEyMUw4LjY2NzI0IDcuMDA3OThMNy4yMDg5MiA1LjYzOTI4TDEuMDQ5OCAxMi4yMDE3TDcuNjEyMjIgMTguMzYwOFoiIGZpbGw9ImJsYWNrIi8+CjxwYXRoIGQ9Ik0xNi4zODgzIDE4LjM2MDhMMTUuMDI4OSAxNi45MTI0TDE1LjAyOTQgMTYuODkzM0wyMC4xMjM3IDEyLjExMjFMMTUuMzMzMyA3LjAwNzk4TDE2Ljc5MTYgNS42MzkyOEwyMi45NTA3IDEyLjIwMTdMMTYuMzg4MyAxOC4zNjA4WiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg==');
}