@import 'variables';

//Grid Container
.tiles {
    display: flex;
    flex-flow: row wrap;
}
  
//tiles
.tile {
    margin: 15px;
    width: calc((100% / 3) - 30px);
    border-radius: $radius;

    transition: all 0.3s ease-in-out;

    //media queries for stacking tiles
    @media screen and (max-width: 991px) {
        width: calc((100% / 2) - 30px);
    }

    @media screen and (max-width: 767px) {
        width: 100%;
    }

    &:hover {
        .tile__inner {
        transform: scale(1.05);
        }
    }

    &_about {
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: $radius;
    }

    &__inner {
        width: 100%;
        padding: $m-space;
        position: relative;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: $radius;

        display: flex;
        align-items: center;
        
        transition: all 0.2s ease-in-out;
        
        &:after {
            transition: all 0.3s ease-in-out;
        }
    }

    //Expander
    &__expander {
        width: 100%;
        position: relative;
        padding: $m-space;
        background-color: $primary-bg;
        box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: $radius;
        transition: all 0.3s ease-in-out;
        
        display: flex;
        flex-direction: column;

        z-index: 99;
    }

    &.is-collapsed {
        .tile__inner {
            &:after {
                content: "";
                opacity: 0;
            }
        }
        .tile__expander {
            max-height: 0;
            min-height: 0;
            overflow: hidden;
            margin-top: 0;
            padding: 0;
            opacity: 0;
        }
    }

    &.is-expanded {
        .tile__inner {
            &:after {
                content: "";
                opacity: 1;
                display: block;
                height: 30px;
                width: 30px;
                position: absolute;
                bottom: -45px;
                background-color: #30363D;
                transform: rotate(45deg);
                left: calc(50% - 15px);
                box-shadow: inset 0px 5px 20px rgba(0, 0, 0, 0.25);
            }
        }

        .tile__expander {
            min-height: 200px;
            overflow: visible;
            margin-top: 30px;
            opacity: 1;
        }

        &:hover {
            .tile__inner {
                transform: scale(1);
            }
        }
    }

    &.is-inactive {
        .tile__inner {
            pointer-events: none;
            opacity: 0.5;
        }
        
        &:hover {
            .tile__inner {
                transform: scale(1);
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .tile:nth-of-type(3n+2) .tile__expander {
        margin-left: calc(-100% - 30px);
    }
    .tile:nth-of-type(3n+3) .tile__expander {
        margin-left: calc(-200% - 60px);
    }
    .tile:nth-of-type(3n+4) {
        clear: left;
    }
    .tile__expander {
        width: calc(300% + 60px);
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .tile:nth-of-type(2n+2) .tile__expander {
        margin-left: calc(-100% - 30px);
    }
    .tile:nth-of-type(2n+3) {
        clear: left;
    }
    .tile__expander {
        width: calc(200% + 30px);
    }
}