@import 'variables';

//Grid Container
.tiles {
    display: flex;
    flex-flow: row wrap;
}
  
.tile {
    margin: 0 15px 15px 0;
    width: calc((100% / 3) - 30px);
    border-radius: $radius;

    transition: all 0.3s ease-in-out;

    @media screen and (max-width: 991px) {
        width: calc((100% / 2) - 30px);
    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }

    &:hover {
        .tile__inner {
            transform: scale(1.05);
            box-shadow: $primary-shadow;
        }
    }

    &-about {
        padding: 15px;
        background-color: $clear-bg;
        border-radius: $radius;

        &_flex {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media screen and (max-width: 1024px) {
                flex-direction: row;
                align-items: center;
            }
        }
    }

    &__inner {
        width: 100%;
        padding: $m-space;
        position: relative;
        cursor: pointer;
        background-color: $clear-bg;
        border-radius: $radius;

        display: flex;
        align-items: center;
        
        transition: all 0.2s ease-in-out;
        
        &:after {
            transition: all 0.3s ease-in-out;
        }
    }

    &__expander {
        width: 100%;
        position: relative;
        padding: $m-space;
        background-color: $clear-bg;
        box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: $radius;
        transition: all 0.3s ease-in-out;
        
        display: flex;
        flex-direction: column;

        z-index: 99;
    }

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        &__inner,
        &__expander,
        &-about {
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
        }
        &__expander {
            box-shadow: none;
        }
      }

    &.is-collapsed {
        .tile__inner {
            &:after {
                content: "";
                opacity: 0;
            }
        }
        .tile__expander {
            max-height: 0;
            min-height: 0;
            overflow: hidden;
            margin-top: 0;
            padding: 0;
            opacity: 0;
        }
    }

    &.is-expanded {
        .tile__inner {
            transform: scale(1.05);
            box-shadow: $primary-shadow;
        }

        .tile__expander {
            min-height: 200px;
            overflow: visible;
            margin-top: 15px;
            opacity: 1;
        }
    }

    &.is-inactive {
        .tile__inner {
            pointer-events: none;
            opacity: 0.5;
        }
        
        &:hover {
            .tile__inner {
                transform: scale(1);
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .tile:nth-of-type(3n+2) .tile__expander {
        margin-left: calc(-100% - 15px);
    }
    .tile:nth-of-type(3n+3) .tile__expander {
        margin-left: calc(-200% - 30px);
    }
    .tile:nth-of-type(3n+4) {
        clear: left;
    }
    .tile__expander {
        width: calc(300% + 30px);
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .tile:nth-of-type(2n+2) .tile__expander {
        margin-left: calc(-100% - 15px);
    }
    .tile:nth-of-type(2n+3) {
        clear: left;
    }
    .tile__expander {
        width: calc(200% + 15px);
    }
}