%grid-container {
   display: grid;
   grid-gap: 3 * $s-space;
   grid-template-columns: repeat(3, minmax(150px, 1fr));
   grid-auto-rows: auto;
}

.grid-container {
   @extend %grid-container;

   &_about {
      grid-template-columns: repeat(5, minmax(150px, 1fr));
      grid-template-rows: repeat(2, minmax(200px, 1fr)); 
   }

   &__sub-grid {
      display: grid;
      grid-gap: 20px;
      grid-template-rows: repeat(2, minmax(100px, min-content));
   }

   &__section {
      &_s {
         grid-row: 3/4;
         grid-column: 4/6;
      }

      &_m {
         grid-row: 1/3;
         grid-column: 4/6;
      }

      &_xl {
         grid-row: 1/-1;
         grid-column: 1/4;
      }

      &_xxl {
         grid-row: 1/-1;
         grid-column: 4/6;
      }

      &_full-w {
         grid-column: 1/-1;
      }
   }

   &_indent-b_l {
      margin-bottom: $l-space;
   }

   @media screen and (min-width: 769px) and (max-width: 1024px) {
      grid-template-columns: repeat(2, minmax(150px, 1fr));
      grid-template-rows: repeat(2, minmax(200px, 1fr));
   }

   @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, minmax(150px, 1fr));
   }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
   .grid-container__section_xl {
      grid-column: 1/-1;
      grid-row: auto;
   }

   .grid-container__section_s,
   .grid-container__section_m {
      grid-column: span 1;
      grid-row: auto;
   }
}

@media screen and (max-width: 768px) {

   .grid-container__section_s,
   .grid-container__section_m,
   .grid-container__section_xl {
      grid-column: 1/-1;
      grid-row: auto;
   }
}
